[submodule "vim/pack/cmb/opt/onehalf"]
	path = vim/pack/cmb/opt/onehalf
	url = git@github.com:sonph/onehalf.git
[submodule "vim/pack/cmb/opt/onedark.vim"]
	path = vim/pack/cmb/opt/onedark.vim
	url = git@github.com:joshdick/onedark.vim.git
[submodule "vim/pack/cmb/opt/lightline.vim"]
	path = vim/pack/cmb/opt/lightline.vim
	url = git@github.com:itchyny/lightline.vim.git
[submodule "vim/pack/default/start/vim-polyglot"]
	path = vim/pack/default/start/vim-polyglot
	url = https://github.com/sheerun/vim-polyglot
