[submodule "vim/.vim/pack/default/opt/onedark.vim"]
	path = vim/.vim/pack/default/opt/onedark.vim
	url = git@github.com:joshdick/onedark.vim.git
[submodule "vim/.vim/pack/default/opt/lightline.vim"]
	path = vim/.vim/pack/default/opt/lightline.vim
	url = git@github.com:itchyny/lightline.vim.git
[submodule "vim/.vim/pack/default/start/vim-polyglot"]
	path = vim/.vim/pack/default/start/vim-polyglot
	url = https://github.com/sheerun/vim-polyglot
[submodule "vim/.vim/pack/default/start/vim-airline"]
	path = vim/.vim/pack/default/start/vim-airline
	url = git@github.com:vim-airline/vim-airline.git
