"*":
  "atom-beautify":
    general:
      _analyticsUserId: "cf478974-a06e-44e0-8234-04f3dc252d97"
  "atom-package-deps":
    ignored: []
  "autocomplete-plus":
    useAlternateScoring: false
  core:
    automaticallyUpdate: false
    projectHome: "/Users/cmb/Developer"
    telemetryConsent: "limited"
    uriHandlerRegistration: "always"
  editor:
    fontFamily: "SF, SF Mono, Mono, Menlo, Consolas, DejaVu Sans Mono, Hack, Fira Code, monospace"
    fontSize: 12
    preferredLineLength: 120
    scrollPastEnd: true
    showInvisibles: true
    softWrap: true
    softWrapAtPreferredLineLength: true
    tabLength: 4
  "exception-reporting":
    userId: "e9a74ae0-08a2-808d-0b7c-5a5c71ca1ae5"
  "file-icons":
    onChanges: true
  linter: {}
  "linter-ui-default":
    hidePanelWhenEmpty: true
    panelHeight: 129
  "merge-conflicts":
    gitPath: "/usr/local/bin/git"
  minimap:
    plugins:
      "find-and-replace": true
      "find-and-replaceDecorationsZIndex": 0
      "git-diff": true
      "git-diffDecorationsZIndex": 0
      "highlight-selected": true
      "highlight-selectedDecorationsZIndex": 0
  pigments:
    autocompleteSuggestionsFromValue: true
    extendAutocompleteToColorValue: true
    markerType: "native-dot"
    mergeColorDuplicates: true
  "symbols-tree-view":
    autoToggle: true
  "tree-view":
    hideIgnoredNames: true
    hideVcsIgnoredFiles: true
  "vim-mode-plus": {}
  welcome:
    showOnStartup: false
".js.source":
  editor:
    tabLength: 2
    tabType: "soft"
