conf.d/asdf_direnv.fish
conf.d/autopair.fish
conf.d/fzf.fish
conf.d/git.fish
conf.d/tmux*
conf.d/z.fish

completions/
generated_completions/

functions/fisher.fish
functions/_autopair*
functions/*fzf*
functions/*z*
functions/*git*
functions/g*
