# -> Prevents accidentally clobbering files.
alias mkdir='mkdir -p'

# Default to human readable figures
alias df='df -h'
alias du='du -h'

# alias less='less -r'                        # raw control characters
alias whence='type -a'                        # where, of a sort
alias grep='grep --color'                     # show differences in color

# Some shortcuts for different directory listings
alias ls='ls -FHG'
alias ll='ls -l'

# Update and Upgrade Homebrew
alias upgrade='brew update && brew upgrade && brew cask upgrade --greedy && brew doctor'
alias buf='brew bundle --file=~/.Brewfile'

# IP addresses
alias ip="dig +short myip.opendns.com @resolver1.opendns.com"
alias localip="ipconfig getifaddr en0"

# Apps
alias tower=gittower
alias yt=youtube-dl
alias yt4=youtube-dl --format mp4
alias code='code -n'

